@model BLL.App.DTO.Payment

<h4>@Resources.Domain.Payment.PaymentString</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Bill)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Bill.InvoiceNr)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentMethod)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentMethod.PaymentMethodValue)
    </dd>
    
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Sum)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Sum)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentTime)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentTime)
    </dd>
</dl>