@model BLL.App.DTO.Identity.AppUser

<h4>@Resources.Domain.AppUser.AppUserString</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Id)
    </dd >
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.HiringDate)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.HiringDate)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.LeftJob)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.LeftJob)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.PhoneNr)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.PhoneNr)
    </dd>
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-3">
        @Resources.Domain.AppUser.AppUserInPositions
        (
        <a asp-action="AddForAppUser"
           asp-controller="AllAppUsersInPositions" asp-route-appUserId="@Model.Id">
            @Resources.Views.Common.Add
        </a>)
    </dt>
    <dd class="col-sm-9">
        <ul>
            @foreach (var position in @Model.AppUserInPositions)
            {
                if ((position.Until >= DateTime.Now) || (position.Until == null))
                {
                    <li>@position.AppUserPosition.AppUserPositionValue
                    (<a asp-action="Edit"
                       asp-controller="AllAppUsersInPositions" asp-route-id="@position.Id">
                        @Resources.Views.Common.Edit
                    </a>, 
                    <a asp-action="Delete"
                       asp-controller="AllAppUsersInPositions" asp-route-id="@position.Id">
                        @Resources.Views.Common.Delete
                    </a>)
                    </li>
                }
            }
        </ul>
    </dd>
</dl>