@model WebApp.Areas.Admin.ViewModels.ProductsForClientsCreateEditViewModel

<h4>@Resources.Domain.ProductForClient.ProductForClientString</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductForClient.Product)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductForClient.Product.ProductName)
        @Html.DisplayFor(model => model.ProductForClient.Product.ProductCode)
    </dd >
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductForClient.Client)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductForClient.Client.CompanyAndAddress)
    </dd >
    @* <dt class = "col-sm-2"> *@
    @*     @Html.DisplayNameFor(model => model.Count) *@
    @* </dt> *@
    @* <dd class = "col-sm-10"> *@
    @*     @Html.DisplayFor(model => model.Count) *@
    @* </dd> *@

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductServices)
    </dt>
    <dd class="col-sm-10">
        <ul>
            @foreach (var productService in Model.ProductServices)
            {
                <li>
                    <a asp-action="Details"
                       asp-controller="AllProductsServices" asp-route-id="@productService.Id">
                        <b> @productService.Description</b>
                    </a> |

                    Date:
                    @if (productService.WorkObject.From != null)
                    {
                        @productService.WorkObject.From.Value.ToString("dd/MM/yyyy")
                    }
                    @if (productService.WorkObject.Until != null)
                    {
                        <span> - </span>
                        @productService.WorkObject.Until.Value.ToString("dd/MM/yyyy")
                    }
                    | <a asp-action="Edit"
                       asp-controller="AllProductsServices" asp-route-id="@productService.Id">
                        @Resources.Views.Common.Edit
                    </a> |
                    <a asp-action="Delete"
                       asp-controller="AllProductsServices" asp-route-id="@productService.Id">
                        @Resources.Views.Common.Delete
                    </a>
                </li>
            }
        </ul>
    </dd>
</dl>