@model WebApp.Areas.Admin.ViewModels.WorkObjectCreateEditViewModel

<h4>@Resources.Domain.WorkObject.WorkObjectString</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WorkObject.Client)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WorkObject.Client.CompanyAndAddress)
    </dd >
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WorkObject.From)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WorkObject.From)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.WorkObject.Until)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.WorkObject.Until)
    </dd>

     <dt class="col-sm-3">
         @Html.DisplayNameFor(model => model.AppUsersOnObject) (
         <a asp-action="ChooseForWorkObject"
            asp-controller="AllAppUsersOnObjects" asp-route-workobjectid="@Model.WorkObject.Id">
             Add
         </a>)
     </dt>
     <dd class="col-sm-10">
         <ul>
             @foreach (var appUserOnObject in Model.AppUsersOnObject)
             {
                 <li>
                     @appUserOnObject.AppUser.FirstLastName
                     <a asp-action="Edit"
                        asp-controller="AllAppUsersOnObjects" asp-route-id="@appUserOnObject.Id">
                         Edit
                     </a>
                     <a asp-action="Delete"
                        asp-controller="AllAppUsersOnObjects" asp-route-id="@appUserOnObject.Id">
                         Delete
                     </a>
                 </li>
             }
         </ul>
     </dd>
     <dt class="col-sm-3">
         @Html.DisplayNameFor(model => model.ProductsServices) (
         <a asp-action="Create"
            asp-controller="AllProductsServices" asp-route-workobjectid="@Model.WorkObject.Id">
             Add
         </a>)
     </dt>
     <dd class="col-sm-10">
         <ul>
             @foreach (var productService in Model.ProductsServices)
             {
                 <li>@productService.ProductForClient.Product.ProductName:
                     @productService.Description
                     <a asp-action="Edit"
                        asp-controller="AllProductsServices" asp-route-id="@productService.Id">
                         Edit
                     </a>
                     <a asp-action="Delete"
                        asp-controller="AllProductsServices" asp-route-id="@productService.Id">
                         Delete
                     </a>
                     </li>
             }
         </ul>
     </dd>

   
</dl>