@model WebApp.Areas.Admin.ViewModels.ClientGroupDetailsDeleteViewModel

<h4>@Resources.Domain.ClientGroup.ClientGroupString</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClientGroup.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ClientGroup.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClientGroup.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ClientGroup.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClientGroup.DiscountPercent)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ClientGroup.DiscountPercent)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ClientGroup.Clients)
    </dt>
    <dd class="col-sm-10">
        <ul>
            @foreach (var client in Model.ClientGroup.Clients)
            {
                <li>
                    @client.CompanyAndAddress
                </li>
            }
        </ul>
    </dd>
</dl>