@model IEnumerable<BLL.App.DTO.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Domain.Bill.BillsString</h1>

<p>
    <a asp-action="Create">@Resources.Views.Common.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumWithoutTaxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumWithoutTaxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
