@using System.Globalization
@using Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApp</title>

    <environment include="Development">
        @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/> *@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
              
    </environment>
    <link rel="stylesheet" href="~/lib/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css"/>
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
</head>
<body>
<div class="wrapper">
    <header>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-success-gradient navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item d-none d-sm-inline-block"> 
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin page</a> 
                    </li> 
@*                     <li class="nav-item d-none d-sm-inline-block"> *@
@*                         <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Resources.Views.Shared._Layout.NavHome</a> *@
@*                     </li> *@
@*                     <li class="nav-item d-none d-sm-inline-block"> *@
@*                         <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">@Resources.Views.Shared._Layout.NavClients</a> *@
@*                     </li> *@
@*                     <li class="nav-item d-none d-sm-inline-block"> *@
@*                         <a class="nav-link" asp-area="" asp-controller="WorkObjects" asp-action="Index">@Resources.Views.Shared._Layout.NavWorkObjects</a> *@
@*                     </li> *@
@*                     <li class="nav-item d-none d-sm-inline-block"> *@
@*                         <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">@Resources.Views.Shared._Layout.NavProducts</a> *@
@*                     </li> *@
                }
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <partial name="_LoginPartial"/>
            </ul>
        </nav>
        <!-- /.navbar -->
    </header>

    <div class="content-wrapper">
        <div class="container">
            <partial name="_CookieConsentPartial"/>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">&copy; 2019 - WebApp - 
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        @Resources.Views.Shared._Layout.NavPrivacy
                    </a>
                </div>
                <div class="col-md-4">UICulture: @CultureInfo.CurrentUICulture.Name Culture: @CultureInfo.CurrentUICulture.Name</div>
                <div class="col-md-4"><partial name="_LanguageSelectionPartial"/></div>
                <div class="float-left d-none d-sm-inline-block">
                    <b>Iiris Takel </b>
                </div>
            </div>
        </div>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
    </script>
</environment>
<script src="~/lib/flatpickr/dist/flatpickr.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection(name: "Scripts", required: false)

</body>
</html>