@model IEnumerable<BLL.App.DTO.BillLine>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Domain.BillLine.BillLinesString</h1>

<p>
    <a asp-action="Create">@Resources.Views.Common.CreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumWithDiscount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.InvoiceNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumWithDiscount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Common.Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Common.Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Common.Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
