@model Domain.WorkObject

<h4>WorkObject</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Client)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Client.Address)
    </dd >
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.From)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.From)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Until)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Until)
    </dd>
</dl>